{% extends 'base.html.twig' %}

{% block title %}Ludo - Connexion{% endblock %}

{% block body %}

<!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!-- Custom styles for this template -->
  <link href="{{ asset('landing_page/css/login.css') }}" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="simple-login-container">
    <h2>Prêt(e) à revenir dans la partie?</h2>
    <h6 class="font-italic">Vous aviez une bonne main :)</h6>
    
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Pseudo" required autofocus>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </div>
    </div>

<input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

<div class="row">
    <div class="col-md-12 form-group,mx-auto">
        <button class="btn btn-lg btn-primary" type="submit">
            Je me connecte 
        </button>
        </div>
    </div>
</div>
 </form>   

<div class="row">
    <div class="col-md-12 form-group,mx-auto">
    <h4>Pas encore Ludonaute?</h4>
        <button class="btn btn-lg btn-secondary btn--animated" type="submit" onclick="location.href='{{ path('app_register') }}'">
            Je m'inscris et j'arrive !
        </button>
        </div>


{% endblock %}





{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %} #}
