{% extends 'base.html.twig' %}

{% block title %}Ludo | Admin | Gestion des joueurs{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <h1>Espace d'administration des joueurs</h1>
{#
    <h2>Bienvenue {{ app.user.name }}</h2>
#}

    <table class="table">
        <thead>
            <tr>
                <th colspan="14"><a href="{{ path('add_user') }}" class="btn btn-success">Ajouter un joueur</a></th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Présentation</th>
                <th>Avatar</th>
                <th>Statut</th>
                <th>Réinitialiser le mot de passe</th>
                <th>Supprimer le compte</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <th>{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}-{{ user.zipCode }}-{{ user.city }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.status }}</td>
{#
                <td><a href="{{ path('user_games', { 'id' : user.id }) }}" class="btn btn-success">Liste des jeux</a></td>
#}
{#
                <td><a href="{{ path('edit_user', { 'id' : user.id }) }}" class="btn btn-success">Modifier</a></td>
#}
                <td><a href="{{ path('reset_pwd', { 'id' : user.id }) }}" class="btn btn-danger">Reset pwd</a></td>
                <td><a href="{{ path('delete_user', { 'id' : user.id }) }}" class="btn btn-danger">Supprimer</a></td>
            {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}
