{% extends 'layout.html.twig' %}

{% block title %}Ludo | Admin | Mise à jour des jeux{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <h1>Espace d'administration des jeux</h1>

    <h3>Bienvenue {{ app.user.username }}</h3>

    {% if form_type == 'update' %}
        <h2>Mise à jour du jeu <em>{{ game.name }}</em></h2>
        <p>
            <img src="{{ asset(game.thumbnail) }}" alt="Image du jeu {{ game.name }}" width="160" height="120">
        </p>
        {{ form_start(game_form) }}
            {{ form_row(game_form.name) }}
            {{ form_row(game_form.imageFile) }}
            {{ form_row(game_form.theme) }}
            {{ form_row(game_form.short_description) }}
            {{ form_row(game_form.description) }}
            {{ form_row(game_form.numPlayerMin) }}
            {{ form_row(game_form.numPlayerMax) }}
            {{ form_row(game_form.duration) }}
            {{ form_row(game_form.ageMin) }}
            {{ form_row(game_form.category) }}
            {{ form_row(game_form.submit, {'label': 'Mettre à jour'}) }}
        {{ form_end(game_form) }}
    {% else %}
        <h2>Ajout d'un jeu</h2>
        {{ form_start(game_form) }}
            {{ form_row(game_form.name) }}
            {{ form_row(game_form.imageFile) }}
            {{ form_row(game_form.theme) }}
            {{ form_row(game_form.short_description) }}
            {{ form_row(game_form.description) }}
            {{ form_row(game_form.numPlayerMin) }}
            {{ form_row(game_form.numPlayerMax) }}
            {{ form_row(game_form.duration) }}
            {{ form_row(game_form.ageMin) }}
            {{ form_row(game_form.category) }}
            {{ form_row(game_form.submit, {'label': 'Ajouter'}) }}
        {{ form_end(game_form) }}
    {% endif %}
</div>
{% endblock %}
