{% extends 'layout.html.twig' %}

{% block title %}Ludo | Fiche jeu{% endblock %}



{% block body %}

<link href="{{ asset('landing_page/css/gamedetails.css') }}" rel="stylesheet">

    <div class="container fiche-technique">
        <h1 class="title-shadow">Fiche technique <em>{{ game.name }}</em></h1>
    
        <div class="row">
            <div class="card text-center mb-5 w-50">
                <div class="card-header">
                    <h2 class="card-title text-black">{{ game.name }}</h2>
                </div>
                <img src="{{ asset(game.image) }}" class="card-img-top" alt="Photo du jeu {{ game.name }}">
                <div class="card-body">
                    <h5>{{ game.category.name }}</h5>
                    <p class="card-text">De {{ game.numPlayerMin }} et {{ game.numPlayerMax }} joueurs</p>
                    <p class="card-text">À partir de {{ game.ageMin }} ans</p>
                    <p class="card-text"><i>Durée d'une partie : </i>{{ game.duration }} min</p>
                    <hr>
                    <p class="card-text"><b>Thème</b><br>{{ game.theme }}</p>
                    <hr>
                    <p class="card-text"><b>Résumé</b><br>{{ game.shortDescription }}</p>
                    <hr>
                    <p class="card-text"><b>Description</b><br>{{ game.description }}</p>
                    <a href="{{ path('add_user_game', {'id' : game.id}) }}" class="btn btn-primary">Ajouter à ma liste</a>
                </div>
            </div>
            <div class="card text-center mb-5 w-50">
                <div class="card-body">
                    <h4 class="card-title text-left ">Commentaires des joueurs</h4>
                    <hr>
                    {% for association in game.associatedUsers %}
                    {% if association.commentary %}
                    <div class="entete">
                        <h5>{{ association.users.username }}</h5>
                        <img src="{{asset(association.users.avatar)}}" class="vignette float-left r-3">
                        </div>
                   
                        <div class="encart_commentaire mb-5">
                         {% if association.rating %}
                        <p class="card-text text-left ml-4"><strong> Note :</strong> {{ association.rating }}/5</p>
                        {% endif %}
                        <br>
                        
                        <p class="card-text text-left ml-4">{{ association.commentary }}</p>
                         
                        
                         <a href="{{ path('player_infos', {'id' : association.users.id}) }}" target="_blank" class="btn btn-primary mb-2">Fiche du joueur</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
