{% extends 'layout.html.twig' %}

{% block title %}Ludo | Rechercher des jeux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../public/landing_page/css/searchGames.css">
    <link rel="stylesheet" href="{{ asset("css/selectize.css") }}">
{% endblock %}

{% block body %}

    <div class="container header_section">
        <h1 class="text-center mb-5 title-shadow">Recherche de jeux</h1>
    </div>

    <div class="container container_form">
        <div class="row">


            <div class="col-3 position-sticky float-left">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h3>Filtrer par :</h3>

                {{ form_errors(game_form) }}

                {{ form_start(game_form) }}
                {{ form_row(game_form.name, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.category, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.duration, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.numPlayerMin, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.numPlayerMax, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.ageMin, {'required': false,'label_attr': {'class':'formFields'}}) }}
                {{ form_row(game_form.submit, {'label': 'Lancer la recherche', 'attr': { 'class': 'btn-primary' }}) }}
                {{ form_end(game_form) }}

            </div>

            <div class="col-9 row d-flex justify-content-around results">
                {% for game in games %}
                    <div class="card text-center mb-5 w-50">
                        <div class="card-header">
                            <h4 class="card-title">{{ game.name }}</h4>
                        </div>
                        <img src="{{ asset(game.image) }}" class="card-img-top" alt="Photo du jeu {{ game.name }}">
                        <div class="card-body">
                            <h5>{{ game.category.name }}</h5>
                            <p class="card-text">Entre {{ game.numPlayerMin }} et {{ game.numPlayerMax }} joueurs</p>
                            <p class="card-text">À partir de {{ game.ageMin }} ans</p>
                            <p class="card-text">
                            <h6>Durée d'une partie :</h6> {{ game.duration }} minutes</p>
                            <p class="card-text">{{ game.shortDescription }}</p>
                             <a href="{{ path('game_details', {'id' : game.id}) }}" class="btn btn-primary">Détails</a>
                            <a href="{{ path('add_user_game', {'id' : game.id}) }}" class="btn btn-primary">Ajouter à ma liste</a>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.3/sifter.min.js"></script>
    <script src="{{ asset("js/selectize.js") }}"></script>

    <script>
        /* utilisation de l'autocompléteur selectize */
        /* autocomplétion du champ de recherche du nom du jeu*/
        $(function () {
            $('#form_name').selectize({
                valueField: 'name',
                labelField: 'name',
                searchField: 'name',
                maxItems: 1,
                create: false,
                persist: false,
                load: function (query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if (query.legend < 2) { // si la saisie est trop courte, on quitte
                        return;
                    }
                    // ajax
                    // $.getJSON(/* url de la requête */, /* callback appelé si la requête réussit */);
                    $.getJSON('{{ path('searchby_game_name') }}?search='+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            });
        }); // fin scope jq
    </script>
{% endblock %}