{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<style>
   
</style>

<div class="float-right"> 
 {% if is_granted('IS_AUTHENTICATED_FULLY')%}
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    {% endif %}

    </div>

<div class="container fluid mx-auto d-block text-center">
    <h1>Bienvenue {{user.username}}</h1>

    <img src="{{user.avatar}}" class="rounded-circle">
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <span class="badge badge-success">Connecté</span>
    {% endif %}
<div class="container fluid">


    

    <p class="font-italic">{{user.bio}}</p>
    

   <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mes infos personnelles
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
    <ul>
        <li>{{user.email}}</li>
        <li>{{user.address}}</li>
        <li>{{user.zipcode}}</li>
        <li>{{user.city}}</li>
    <ul>
      </div>
    </div>
  </div>

</div> 
{# fin container #}

<div class="container fluid">
    <h2>Mes jeux</h2>

    <p>{{user.bio}}</p>

</div>




    


    
</div>
{% endblock %}
