{% extends 'layout.html.twig' %}

{% block title %}Fiche d'un joueur{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="page-header header-filter" data-parallax="true"></div>
  
<div class="main main-raised">

    <div class="profile-content" >
    
    <span class="corner"><a href="{{ path('player_search') }}">Retour vers la recherche de partenaires de jeu</a></span>

      <div class="container">
        <div class="row">
	        <div class="col-md-6 ml-auto mr-auto">
        	  <div class="profile">
	            <div class="avatar">
                {% if user.avatar is empty %}
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                {% else %}
                <img src="{{asset(user.avatar)}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                {% endif %}
              </div>
              <div class="name">
                <h3 class="title">Joueur : {{user.username}}</h3>
              </div>
              <div class="description text-center">
                <p>{{user.bio}}</p>
              </div>
            </div>             
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div id="accordion" role="tablist">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="material-icons">favorite</i>
                      SES JEUX PRÉFÉRÉS
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="tab-content tab-space ml-5 mr-5">
            <div class="row">

              {% for game in user.associatedGames %}

              <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ game.games.name }}</h3>
                    </div>
                    <img class="card-img-top" src="{{ game.games.thumbnail }}" alt="Photo du jeu {{ game.games.name }}">
                    <div class="card-body">
                        <h6>Catégorie : {{ game.games.category.name }}</h6>
                        <h6>{% if game.commentary %}Commentaire : {{ game.commentary }}{% else %}Aucun de commentaire{% endif %}</h6>
                        <h6>{% if game.rating %}Note : {{ game.rating }}{% else %}Aucune de note{% endif %}</h6>
                        <p>
                            {% if game.playsGame is same as (1)  %}
                                <i class="material-icons">sentiment_satisfied_alt</i>{{ user.username }} y joue !
                            {% endif %}
                            {% if game.ownsGame is same as (1)  %}
                                <i class="material-icons">thumb_up_alt</i>{{ user.username }} l'a en stock !
                            {% endif %}
                            {% if game.playsGame == 0 and game.ownsGame == 0 %}
                                <span class="badge badge-warning">{{ user.username }} est intéressé(e) !</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
              </div>

              {% endfor %}

            </div>
        </div>
      </div>

    </div>
</div>


{% endblock %}