{% extends 'layout.html.twig' %}

{% block title %}Ludo | Messages envoyés et reçus{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for message in messages %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">De : {{ message.sender.username }} || à : {{ message.recipient.username }}</h5>
                    <p class="card-text">{{message.message}}</p>
                    <a href="{{ path('message_write', {'id' : message.sender.id}) }}" class="btn btn-primary">Répondre</a>
                </div>
                <div class="card-footer text-muted">
                    {{ message.creationDate|date('d/m/Y - H:i:s') }}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}
