{% extends 'layout.html.twig' %}

{% block title %}Ludo | Écrire un message à un joueur{% endblock %}

{% block body %}

<link href="{{ asset('landing_page/css/message_write.css') }}" rel="stylesheet">


    <div class="container message ">
        <h4 class="title-shadow"><i class="far fa-paper-plane"></i> Ecrire à : {{ recipient.username }}</h4>
            {{ form(write_form) }}
            <br>
            <a class="btn btn-primary" href="{{path('message_read')}}" role="button">Mes messages</a>
            <a class="btn btn-primary" href="{{ path('player_infos', {'id': recipient.id}) }}" role="button">Revenir à la fiche du joueur</a>
    </div>

{% endblock %}
