<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LUDO| {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    
    
    <link href="{{ asset('css/global.css') }}" rel="stylesheet">
    {% block stylesheets %}
    
    {% endblock %}
</head>



<body class="profile-page">

{# NavBar #}
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('games_search') }}"><img src="{{ asset('img/logo.png') }}" alt="logo ludo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
         <i class="material-icons">menu</i>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">apps</i> RECHERCHER
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                    <a href="{{ path('games_search') }}" class="dropdown-item">
                        JEUX
                    </a>
                    <a href="{{ path('player_search') }}" class="dropdown-item">
                        JOUEURS
                    </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_profile') }}">
                        MON COMPTE
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                            Se DECONNECTER
                            </a>
                        </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">
                            ADMINISTRATION
                            </a>
                        </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{# Fin NavBar #}

{% block body %}{% endblock %}

<footer id="footer" class="footer">
  <p>Copyright &copy; Ludo 2019</p>
</footer>

{% block javascripts %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>  
{% endblock %}
</body>
</html>