<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/global.css') }}" rel="stylesheet">
        <link href="{{ asset('landing_page/css/searchGames.css') }}" rel="stylesheet">
        <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
        {# fonts #}
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    {% endblock %}
</head>

<body>
<!-- Navigation -->
<div class="container-fluid">
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('user_profile') }}"><img src="{{ asset('landing_page/img/logoludowhitesmall.png') }}" alt="logo ludo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
         <i class="material-icons">menu</i>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-shadow" href="{{ path('games_search') }}" class="dropdown-item">
                        JEUX
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-shadow" href="{{ path('player_search') }}" class="dropdown-item">
                        JOUEURS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-shadow" href="{{ path('user_profile') }}">
                        MON COMPTE
                    </a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <li class="nav-item">
                    <a class="nav-link nav-shadow" href="{{ path('app_logout') }}">
                            DECONNEXION
                            </a>
                        </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                    <a class="nav-link nav-shadow" href="{{ path('admin') }}">
                            ADMINISTRATION
                            </a>
                        </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>

<!-- Page Content -->
<div class="container-fluid">
{% block body %}{% endblock %}
</div>

<footer id="footer" class="footer">
   <p class="m-0 text-center text-white small">Copyright &copy; Ludo 2019 <a href="mailto:ludo@ludo.org">  Nous contacter</a></p>
</footer>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cef3058f65.js"></script>
     <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>  
{% endblock %}
</body>
</html>