{% extends 'base.html.twig' %}

{% block title %}Ludo |
    {% if form_type == 'update' %}
        Ajout d'un
    {% else %}
        Mise à jour des infos sur un
    {% endif %}jeu dans une ludothèque
{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">

        {% if form_type == 'update' %}
            <h1>
                Je change mon avis sur un jeu de ma ludothèque
            </h1>
        {% else %}
            <h1>
                J'ajoute un jeu dans ma ludothèque
            </h1>
        {% endif %}

        <h3>Bienvenue Joueur : {{ app.user.username }} !</h3>

        <h2>Jeu : {{ game.name }}</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(usergame_form) }}
            {{ form_row(usergame_form.rating) }}
            {{ form_row(usergame_form.commentary) }}
            {{ form_row(usergame_form.playsGame) }}
            {{ form_row(usergame_form.ownsGame) }}
            {% if form_type == 'update' %}
                {{ form_row(usergame_form.submit, {'label': 'Mettre à jour'}) }}
            {% else %}
                {{ form_row(usergame_form.submit, {'label': 'Ajouter'}) }}
            {% endif %}
        {{ form_end(usergame_form) }}

        <button class="btn btn-warning"><a href="{{ path('user_profile') }}">Revenir à mon compte</a></button>


    </div>



{% endblock %}
