{% extends 'layout.html.twig' %}

{% block title %}Ludo | Rechercher des joueurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../public/landing_page/css/searchGames.css">
    <link rel="stylesheet" href="{{ asset("css/selectize.css") }}">
{% endblock %}

{% block body %}
    

    <div class="profile-content" >

            <div class="container">

                <div class="row">

                    <div class="container header_section recherche">
                        <h1 class="text-center mb-5 mt-2 title-shadow">Recherche de joueurs</h1>
                    </div>

                    <div class="font-italic ml-5 mr-5 mb-5 explication">
                        <h3>
                            Que la partie commence !
                        </h3>
                        <br>
                        <p>
                           <strong>Vous connaissez le jeu auquel vous souhaitez jouer ? </strong> <br>Faîtes une recherche par jeu et filtrez par ville pour trouver des joueurs près de chez vous et disputer des parties endiablées !
                        </p>
                        <p>
                           <strong>Vous voulez découvrir à quoi jouent les Ludonautes près de chez vous ? </strong> Faîtes une recherche par ville. 
                        </p>
                    </div>
                </div>

                <div class="container_form">

                    <div class="row">

                        <div class="col-12">

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        </div>


                        <div class="col-3 position-sticky float-left">
                            <h3>Filtrer par :</h3>
                            
                            {{ form_start(playersearch_form, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.name, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.city, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.submit, {'label': 'Lancer la recherche', 'attr': { 'class': 'btn-primary' }}) }}
                            {{ form_end(playersearch_form) }}

                        </div>

                        <div class="col-9 row d-flex justify-content-around results">

                            {% if players %}
                            {% for player in players %}
                            <div class="card text-center mb-5 w-50">
                                <div class="card-header">
                                    <h4>{{ player.username }}</h3>
                                    <div class="description text-center">
                                        <p>{{player.bio}}</p>
                                    </div>
                                </div>
                                <img src="{{ asset(player.avatar) }}" class="card-img-top"
                                        alt="Avatar du joueur {{ player.username }}">
                                <div class="card-body">
                                    <h6>Ville : {{ player.city }}</h6>
                                    <h6>Ludothèque : </h6>
                                    <ul>
                                        {% for game in player.associatedGames %}
                                            <li>{{ game.games.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    
                                    <a href="{{ path('player_infos', {'id' : player.id}) }}" target="_blank" class="btn btn-primary">Fiche du joueur</a>
                                    <a href="#" class="btn btn-primary">Contacter ce joueur</a>
                                </div>
                            </div>
                            {% endfor %}

                            {% else %}
                            {% for usergame in usergames %}
                            <div class="card text-center mb-5 w-50">
                                <div class="card-header">
                                    <h4>{{ usergame.users.username }}</h3>
                                    <div class="description text-center">
                                        <p>{{usergame.users.bio}}</p>
                                    </div>
                                </div>
                                <img src="{{ asset(usergame.users.avatar) }}" class="card-img-top"
                                    alt="Avatar du joueur {{ usergame.users.username }}">
                                <div class="card-body">
                                    <h6>Ville : {{ usergame.users.city }}</h6>
                                    <p class="card-text">
                                        {% if usergame.playsGame is same as (1)  %}
                                            <i class="material-icons">sentiment_satisfied_alt</i>{{ usergame.users.username }} y joue !
                                        {% endif %}
                                        {% if usergame.ownsGame is same as (1)  %}
                                            <i class="material-icons">thumb_up_alt</i>{{ usergame.users.username }} l'a en stock !
                                        {% endif %}
                                        {% if usergame.playsGame == 0 and game.ownsGame == 0 %}
                                            <span class="badge badge-warning">{{ usergame.users.username }} est intéressé(e) !</span>
                                        {% endif %}
                                    </p>
                                    <a href="{{ path('player_infos', {'id' : usergame.users.id}) }}" target="_blank"
                                    class="btn btn-primary">Fiche du joueur</a>
                                    <a href="#" class="btn btn-primary" target="_blank">Contacter ce joueur</a>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                        </div>

                            
                    </div>
                </div>



            </div>
            
            </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.3/sifter.min.js"></script>
    <script src="{{ asset("js/selectize.js") }}"></script>

    <script>
        /* utilisation de l'autocompléteur selectize */
        /* autocomplétion du champ de recherche du nom du jeu*/
        $(function () {
            $('#form_name').selectize({
                valueField: 'name',
                labelField: 'name',
                searchField: 'name',
                maxItems: 1,
                create: false,
                persist: false,
                load: function (query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if (query.legend < 2) { // si la saisie est trop courte, on quitte
                        return;
                    }
                    // ajax
                    // $.getJSON(/* url de la requête */, /* callback appelé si la requête réussit */);
                    $.getJSON('{{ path('searchby_game_name') }}?search='+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            });

            /* autocomplétion du champ de recherche de la ville*/
            $('#form_city').selectize({
                valueField: 'city',
                labelField: 'city',
                searchField: 'city',
                maxItems: 1,
                create: false,
                persist: false,
                load: function (query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if (query.legend < 2) { // si la saisie est trop courte, on quitte
                        return;
                    }
                    // ajax
                    // $.getJSON(/* url de la requête */, /* callback appelé si la requête réussit */);
                    $.getJSON('{{ path('searchby_user_city') }}?search='+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            });
        }); // fin scope jq
    </script>
{% endblock %}