{% extends 'layout.html.twig' %}

{% block title %}Ludo | Rechercher un joueur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../public/landing_page/css/searchGames.css">
    <link rel="stylesheet" href="{{ asset("css/selectize.css") }}">
{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">
        <h1>Je cherche des partenaires de jeux</h1>

        <h3>Bienvenue {{ app.user.username }}</h3>

        <p>
            Pour chercher des partenaires de jeu, il vous suffit de renseigner le nom du jeu auquel vous souhaitez
            jouer.
        </p>
        <p>
            Vous pouvez ensuite limiter votre recherche en précisant dans quelle ville vous cherchez un partenaire
            de jeu.
        </p>
        <p>
            Si vous renseignez uniquement la ville, vous obtiendrez la liste de tous les joueurs inscrits dans
            cette ville.
            <br>Dans ce cas, la fiche du joueur mentionnera tous les jeux de sa ludothèque.
        </p>
        <p>
            Pour chaque joueur de la liste, vous avez la possibilité d'accéder à sa fiche et de lui envoyer un message
            privé.
        </p>

        {{ form_start(playersearch_form) }}
        {{ form_row(playersearch_form.name) }}
        {{ form_row(playersearch_form.city) }}
        {{ form_row(playersearch_form.submit, {'label': 'Lancer la recherche !'}) }}
        {{ form_end(playersearch_form) }}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if players %}

            <div class="row">
                {% for player in players %}
                    <div class="col-3">
                        <div class="card">
                            <img src="{{ asset(player.avatar) }}" class="card-img-top"
                                 alt="Avatar du joueur {{ player.username }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ player.username }}</h5>
                                <p class="card-subtitle">{{ player.bio }}</p>
                                <hr>
                                <p class="card-text"><b>Ville : </b>{{ player.city }}</p>
                                <hr>
                                <p class="card-text"><b>Ludothèque :</b></p>
                                <ul>
                                    {% for game in player.associatedGames %}
                                        <li>{{ game.games.name }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{{ path('player_infos', {'id' : player.id}) }}" target="_blank"
                                   class="btn btn-info w-100">Fiche du joueur</a>
                                <a href="#" class="btn btn-success w-100">Contacter ce joueur</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}

            <div class="row">
                {% for usergame in usergames %}
                    <div class="col-3">
                        <div class="card">
                            <img src="{{ asset(usergame.users.avatar) }}" class="card-img-top"
                                 alt="Avatar du joueur {{ usergame.users.username }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ usergame.users.username }}</h5>
                                <p class="card-subtitle">{{ usergame.users.bio }}</p>
                                <hr>
                                <p class="card-text"><b>Ville : </b>{{ usergame.users.city }}</p>
                                <hr>
                                <p class="card-text">
                                    {% if usergame.playsGame == 1 %}
                                        <span class="badge badge-success w-100">{{ usergame.users.username }} y joue !</span>
                                    {% endif %}
                                    {% if usergame.ownsGame == 1 %}
                                        <span class="badge badge-info w-100">{{ usergame.users.username }} l'a en stock !</span>
                                    {% endif %}
                                    {% if usergame.playsGame == 0 and usergame.ownsGame == 0 %}
                                        <span class="badge badge-warning w-100">{{ usergame.users.username }} est intéressé(e) !</span>
                                    {% endif %}
                                </p>
                                <hr>
                                <a href="{{ path('player_infos', {'id' : usergame.users.id}) }}" target="_blank"
                                   class="btn btn-info w-100">Fiche du joueur</a>
                                <a href="#" class="btn btn-success w-100" target="_blank">Contacter ce joueur</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.3/sifter.min.js"></script>
    <script src="{{ asset("js/selectize.js") }}"></script>

    <script>
        /* utilisation de l'autocompléteur selectize */
        /* autocomplétion du champ de recherche du nom du jeu*/
        $(function () {
            $('#form_name').selectize({
                valueField: 'name',
                labelField: 'name',
                searchField: 'name',
                maxItems: 1,
                create: false,
                persist: false,
                load: function (query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if (query.legend < 2) { // si la saisie est trop courte, on quitte
                        return;
                    }
                    // ajax
                    // $.getJSON(/* url de la requête */, /* callback appelé si la requête réussit */);
                    $.getJSON('{{ path('searchby_game_name') }}?search='+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            });

            /* autocomplétion du champ de recherche de la ville*/
            $('#form_city').selectize({
                valueField: 'city',
                labelField: 'city',
                searchField: 'city',
                maxItems: 1,
                create: false,
                persist: false,
                load: function (query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if (query.legend < 2) { // si la saisie est trop courte, on quitte
                        return;
                    }
                    // ajax
                    // $.getJSON(/* url de la requête */, /* callback appelé si la requête réussit */);
                    $.getJSON('{{ path('searchby_user_city') }}?search='+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            });
        }); // fin scope jq
    </script>
{% endblock %}