{% extends 'navbar.html.twig' %}

{% block title %}Rechercher un joueur{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{{ asset('css/playerSearch.css') }}" rel="stylesheet">

{# <div class="page-header header-filter" data-parallax="true"></div> #}
    {# <div class="main main-raised"> #}

    <div class="main main-raised">

    	<div class="profile-content" >

            <div class="container">

                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                {% if app.user.avatar is empty %}
                                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                {% else %}
                                <img src="{{asset(app.user.avatar)}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                {% endif %}
                            </div>
                            <div class="name">
                                <h3 class="title">Bienvenue {{ app.user.username }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-content" >

            <div class="container">

                <div class="row">

                    <div class="container header_section">
                        <h1 class="text-center mb-5 mt-5">Recherche de joueur</h1>
                    </div>

                    <div class="font-italic ml-5 mr-5 mb-5">
                        <p>
                            Vous vous demandez comment trouver des Ludonautes !!!
                        </p>
                        <p>
                            Renseignez le nom d'un jeu et voila ! Vous pouvez aussi être plus précis en indiquant dans quelle ville vous cherchez votre partenaire
                            de jeu.
                        </p>
                        <p>
                            Vous êtes indécis sur le jeux !!! Dans ce cas renseignez simplement la ville où trouver des Ludonautes et c'est partie pour un choix incroyable de partenaire et de leur ludothèque.
                        </p>
                        <p>
                            Vous en voulez encore plus ? Vous pouvez, une fois la recherche lancée, accéder à la fiche des joueurs et de leurs envoyer un message privé.
                        </p>
                    </div>
                </div>

                <div class="container_form">

                    <div class="row">

                        <div class="col-12">

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        </div>


                        <div class="col-3 position-sticky float-left">
                            <h3>Filtrer par :</h3>
                            
                            {{ form_start(playersearch_form, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.name, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.city, {'label_attr': {'class':'formFields'}}) }}
                            {{ form_row(playersearch_form.submit, {'label': 'Lancer la recherche', 'attr': { 'class': 'btn-primary' }}) }}
                            {{ form_end(playersearch_form) }}

                        </div>

                        <div class="col-9 row d-flex justify-content-around results">

                            {% if players %}
                            {% for player in players %}
                            <div class="card text-center mb-5 w-50">
                                <div class="card-header">
                                    <h4>{{ player.username }}</h3>
                                    <div class="description text-center">
                                        <p>{{player.bio}}</p>
                                    </div>
                                </div>
                                <img src="{{ asset(player.avatar) }}" class="card-img-top"
                                        alt="Avatar du joueur {{ player.username }}">
                                <div class="card-body">
                                    <h6>Ville : {{ player.city }}</h6>
                                    <h6>Ludothèque : </h6>
                                    <ul>
                                        {% for game in player.associatedGames %}
                                            <li>{{ game.games.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ path('player_infos', {'id' : player.id}) }}" target="_blank" class="btn btn-primary">Fiche du joueur</a>
                                    <a href="#" class="btn btn-primary">Contacter ce joueur</a>
                                </div>
                            </div>
                            {% endfor %}

                            {% else %}
                            {% for usergame in usergames %}
                            <div class="card text-center mb-5 w-50">
                                <div class="card-header">
                                    <h4>{{ usergame.users.username }}</h3>
                                    <div class="description text-center">
                                        <p>{{usergame.users.bio}}</p>
                                    </div>
                                </div>
                                <img src="{{ asset(usergame.users.avatar) }}" class="card-img-top"
                                    alt="Avatar du joueur {{ usergame.users.username }}">
                                <div class="card-body">
                                    <h6>Ville : {{ usergame.users.city }}</h6>
                                    <p class="card-text">
                                        {% if usergame.playsGame is same as (1)  %}
                                            <i class="material-icons">sentiment_satisfied_alt</i>{{ usergame.users.username }} y joue !
                                        {% endif %}
                                        {% if usergame.ownsGame is same as (1)  %}
                                            <i class="material-icons">thumb_up_alt</i>{{ usergame.users.username }} l'a en stock !
                                        {% endif %}
                                        {% if usergame.playsGame == 0 and game.ownsGame == 0 %}
                                            <span class="badge badge-warning">{{ usergame.users.username }} est intéressé(e) !</span>
                                        {% endif %}
                                    </p>
                                    <a href="{{ path('player_infos', {'id' : usergame.users.id}) }}" target="_blank"
                                    class="btn btn-primary">Fiche du joueur</a>
                                    <a href="#" class="btn btn-primary" target="_blank">Contacter ce joueur</a>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                        </div>

                            
                    </div>
                </div>



            </div>

        </div>




{% endblock %}
