{% extends 'layout.html.twig' %}

{% block title %}Rechercher un joueur{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised">

    	<div class="profile-content" >

            <div class="container">

                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                {% if app.user.avatar is empty %}
                                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                {% else %}
                                <img src="{{asset(app.user.avatar)}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                {% endif %}
                            </div>
                            <div class="name">
                                <h3 class="title">Bienvenue {{ app.user.username }}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ml-auto mr-auto">
                        <p>
                            Pour chercher des partenaires de jeu, il vous suffit de renseigner le nom du jeu auquel vous souhaitez
                            jouer.
                        </p>
                        <p>
                            Vous pouvez ensuite limiter votre recherche en précisant dans quelle ville vous cherchez un partenaire
                            de jeu.
                        </p>
                        <p>
                            Si vous renseignez uniquement la ville, vous obtiendrez la liste de tous les joueurs inscrits dans
                            cette ville.
                            <br>Dans ce cas, la fiche du joueur mentionnera tous les jeux de sa ludothèque.
                        </p>
                        <p>
                            Pour chaque joueur de la liste, vous avez la possibilité d'accéder à sa fiche et de lui envoyer un message
                            privé.
                        </p>
                    </div>

                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                    
                        {{ form_start(playersearch_form) }}
                        {{ form_row(playersearch_form.name) }}
                        {{ form_row(playersearch_form.city) }}
                        {{ form_row(playersearch_form.submit, {'label': 'Lancer la recherche !'}) }}
                        {{ form_end(playersearch_form) }}

                    </div>

                    
                    

                    <div class="tab-content tab-space ml-5 mr-5">

                        {% if players %}
                        {% for player in players %}

                        <div class="col-3">
                            <div class="card">
                                <div class="card-header">
                                    <h3>{{ player.username }}</h3>
                                    <div class="description text-center">
                                        <p>{{player.bio}}</p>
                                    </div>
                                </div>
                                <img src="{{ asset(player.avatar) }}" class="card-img-top"
                                        alt="Avatar du joueur {{ player.username }}">
                                <div class="card-body">
                                    <h6>Ville : {{ player.city }}</h6>
                                    <h6>Ludothèque : </h6>
                                    <ul>
                                        {% for game in player.associatedGames %}
                                            <li>{{ game.games.name }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ path('player_infos', {'id' : player.id}) }}" target="_blank" class="btn btn-info w-100">Fiche du joueur</a>
                                    <a href="#" class="btn btn-success w-100">Contacter ce joueur</a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                        {% else %}

                        <div class="row">
                        {% for usergame in usergames %}
                            <div class="col-3">
                                <div class="card">
                                    <img src="{{ asset(usergame.users.avatar) }}" class="card-img-top"
                                        alt="Avatar du joueur {{ usergame.users.username }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ usergame.users.username }}</h5>
                                        <p class="card-subtitle">{{ usergame.users.bio }}</p>
                                        <hr>
                                        <p class="card-text"><b>Ville : </b>{{ usergame.users.city }}</p>
                                        <hr>
                                        <p class="card-text">
                                            {% if usergame.playsGame == 1 %}
                                                <span class="badge badge-success w-100">{{ usergame.users.username }} y joue !</span>
                                            {% endif %}
                                            {% if usergame.ownsGame == 1 %}
                                                <span class="badge badge-info w-100">{{ usergame.users.username }} l'a en stock !</span>
                                            {% endif %}
                                            {% if usergame.playsGame == 0 and usergame.ownsGame == 0 %}
                                                <span class="badge badge-warning w-100">{{ usergame.users.username }} est intéressé(e) !</span>
                                            {% endif %}
                                        </p>
                                        <hr>
                                        <a href="{{ path('player_infos', {'id' : usergame.users.id}) }}" target="_blank"
                                        class="btn btn-info w-100">Fiche du joueur</a>
                                        <a href="#" class="btn btn-success w-100" target="_blank">Contacter ce joueur</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        {% endif %}
                    </div>



                </div>



            </div>

        </div>

    </div>
</div>

        
        <h1>Je cherche des partenaires de jeux</h1>




        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}



{% endblock %}
